<nav class="navbar navbar-default-bar no-margin navbar-bar-head-fixed" id="nav-header">

      <div class="navbar-header fixed-brand">
         <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" id="menu-toggle">
					 <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>
				</button>
        
   
        
         <a class="navbar-brand" href="#">Portal</a>
      </div>

      <div class="none-mobile-view-dp">
        <img src="/images/logo.png" style="height: 40px" class="profilePic">

<span class="label label-success" style="float:right;margin-top:22px;margin-left:5px">Admin</span>

<span class="label label-warning" style="float:right;margin-top:22px;">Admin</span>
</div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
         <ul class="nav navbar-nav">
            <li class="active">
              
                 <button class="navbar-toggle collapse in" data-toggle="collapse" id="menu-toggle-pc">
  								 <span class="glyphicon glyphicon-th-large" aria-hidden="true">
  								 </span>
                 </button>
               
            </li>
         </ul>
      </div>
</nav>
<div id="wrapper">
  <!-- Sidebar -->
  <div id="sidebar-wrapper" style="margin-top:60px">
     <ul class="sidebar-nav nav-pills nav-stacked" id="menu">
  
       <li class="mobile-view-dp">
         <div style="margin-right: 10px">
           <center>
              <img src="/Upload/Profile/1546207758609.jpg" style="height: 60px;width: 60px;border-radius:50%">
          </center>
          </div>
       </li>
  
       <li class="onlyForPcNav">
         <a  onclick="openSideNav()">
           <span class="fa-stack fa-lg pull-left">
             <i class="fa fa-bars fa-stack-1x "></i>
           </span>Oneness
         </a>
       </li>
  
       
         <li id="home-nav">
            <a href="/"><span class="fa-stack fa-lg pull-left">
              <i class="fa fa-home fa-stack-1x "></i></span>Home
            </a>
         </li>
       
  
       
  
        
            <li id="add-user-nav">
              <a href="/adduser"><span class="fa-stack fa-lg pull-left">
                <i class="fa fa-plus-square fa-stack-1x "></i></span>
                Add User
              </a>
            </li>
        
  
        
  
        
          <li id="user-list-nav">
             <a href="/userlist"> <span class="fa-stack fa-lg pull-left">
               <i class="fa fa-list-ul fa-stack-1x "></i></span>Users List</a>
          </li>
        
  
        
          <li id="community-list-nav">
             <a href="/communityList"><span class="fa-stack fa-lg pull-left">
               <i class="fa fa-list-alt fa-stack-1x "></i></span>Community List</a>
          </li>
        
  
        
          <li id="switch-asuser-nav">
            <a onclick="switchState('Switch As User')"><span class="fa-stack fa-lg pull-left">
              <i class="fa fa-toggle-off fa-stack-1x "></i></span>
              Switch As User
            </a>
          </li>
        
  
        
          <li id="admin-tag-panel">
            <a href="/tag"><span class="fa-stack fa-lg pull-left">
              <i class="fa fa-tags fa-stack-1x "></i></span>Tag Panel</a>
          </li>
        
  
        <li id="change-password-nav">
          <a href="/changePassword"><span class="fa-stack fa-lg pull-left">
            <i class="fa fa-lock fa-stack-1x "></i></span>
            Change Password
          </a>
        </li>
  
        <li>

                <a href='/'>
               
                   <i class="fa fa-sign-out" aria-hidden="true" style="font-size:25px; margin-right:22px"></i>Logout
                </a>
                     </li>
  
     </ul>
  </div>



<script type="text/javascript">
  $("#menu-toggle").click(function(e) {
     e.preventDefault();
     $("#wrapper").toggleClass("toggled");
  });

  $("#menu-toggle-pc").click(function(e) {
     e.preventDefault();
     $("#wrapper").toggleClass("toggled-pc");
     $('#menu ul').hide();
  });

//----------------------On Hoover or onclick menuBar-------------------------------
 function openSideNav(){
     $("#wrapper").toggleClass("toggled-pc");
     $('#menu ul').hide();
 }
  // $("#sidebar-wrapper").hover(function(){
  //   $("#wrapper").toggleClass("toggled-pc");
  //   $('#menu ul').hide();
  // });
//----------------------On Hoover or onclick menuBar-------------------------------

  function initMenu() {
     // $("#wrapper").toggleClass("toggled-pc");
     // $('#menu ul').hide();

     $('#menu ul').hide();
     $('#menu ul').children('.current').parent().show();
     $('#menu li a').click(
        function() {
           var checkElement = $(this).next();
           if ((checkElement.is('ul')) && (checkElement.is(':visible'))) {
              return false;
           }
           if ((checkElement.is('ul')) && (!checkElement.is(':visible'))) {
              $('#menu ul:visible').slideUp('normal');
              checkElement.slideDown('normal');
              return false;
           }
        }
     );
  }
  $(document).ready(function() {
     initMenu();
  });
</script>