    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    
    <meta name="robots" content="noindex, nofollow">
    <meta name="googlebot" content="noindex, nofollow">
 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" crossorigin="anonymous">
	<link rel="icon" href="/images/logo.png">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="style/style.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" crossorigin="anonymous"></script>
        <style>
            body{

color: #575757 !important;
}
.content-div{
margin-top:5%;
width: 100%;
}
.null-link{
color: black
}
.null-link:hover{
color:black;
text-decoration: none;
}
.panel-main-div:hover{
box-shadow:0 3px 10px 0 rgba(115,143,147,.2);
}
@media(max-width: 768px){
.content-div{
  margin-top:5%;
  width: 100% !important;
}
}
        </style>
        <title>Portal</title>